mastodon-instance = newsbot.eu
mastodon-token = blahblahblah

# the handle of the twitter user to crosspost
twitter-user = example_user

# how long to wait before trying to get new tweets
# DEFAULT = 5
interval = 10

# a content warning to put on all mastodon posts
# DEFAULT = twitter crosspost
content-warning = twitter crosspost

# the visibility that the mastodon bot will post at
# VALUES  = :public :unlisted :private :direct
# DEFAULT = :unlisted
visibility = :unlisted

## Unneeded if you are using a release from github
# twitter-api-key = blablablahYourKey
# twitter-api-secret = blahblahblahYourSecret